body {
  background-image: linear-gradient(to right top, #1c1e56, #252c67, #2d3a79, #36498c, #3e599e, #3e5dac, #3e61b9, #3f65c7, #415bd1, #4b4fd8, #5c3edc, #7123dd);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}